h1 {
    font-family: "Graduate", serif;
    font-weight: 900;
    font-size: 83px;
    font-style: normal;
    color: #f70909;

}

p {
    font-family: "Twinkle Star", cursive;
    font-weight: 550;
    font-size: 39px;
    font-style: normal;
    color: rgb(6, 64, 170);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}